@font-face {
  font-family: "symbols-sedona";
  src: url("../font/symbols-sedona.eot?60737633");
  src: url("../font/symbols-sedona.eot?60737633#iefix") format("embedded-opentype"),
       url("../font/symbols-sedona.woff?60737633") format("woff"),
       url("../font/symbols-sedona.ttf?60737633") format("truetype"),
       url("../font/symbols-sedona.svg?60737633#symbols-sedona") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "symbols-sedona";
    src: url("../font/symbols-sedona.svg?60737633#symbols-sedona") format("svg");
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-sedona";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-facebook:before { content: "\66"; } /* "f" */
.icon-twitter:before { content: "\74"; } /* "t" */
.icon-up-dir:before { content: "\25b2"; } /* "▲" */
.icon-down-dir:before { content: "\25bc"; } /* "▼" */
.icon-star:before { content: "\2605"; } /* "★" */
.icon-check-off:before { content: "\2610"; } /* "☐" */
.icon-check-on:before { content: "\2611"; } /* "☑" */
.icon-calendar:before { content: "\e800"; } /* "" */
.icon-plus:before { content: "\e801"; } /* "" */
.icon-minus:before { content: "\e802"; } /* "" */
.icon-youtube:before { content: "\f39e"; } /* "" */

.icon-facebook, .icon-twitter, .icon-youtube {
  font-size: 19px;
}

body {
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "PT Sans", Verdana, Arial, sans-serif;

  background-color: #f2f2f2;

  padding: 0;
  margin: 0;
}

.wrapper {
  min-width: 768px;
  max-width: 1200px;

  padding: 0 0;
  margin: 0 auto;

  background-color: #fff;
  box-shadow: 0 0 6px 6px #dedede;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  box-sizing: border-box;
}

.s12-1 {
  width: 8.33%;
}

.s12-2 {
  width: 16.66%;
}

.s12-3 {
  width: 25%;
}

.s-33 {
  width: 33.33%;
}

.s12-5 {
  width: 41.66%
}

.s-50 {
  width: 50%;
}

.s12-7 {
  width: 58.33%;
}

.s-66 {
  width: 66.66%;
}

.s12-9 {
  width: 75%;
}

.s12-10 {
  width: 83.11%;
}

.s12-11 {
  width: 91.66%;
}

.s12-12 {
  width: 100%;
}

.s-20 {
  width: 20%;
}

.s-25 {
  width: 25%;
}

.s-35 {
  width: 35%;
}

.s-40 {
  width: 40%;
}


.s-60 {
  width: 60%;
}

.row-inline {
  font-size: 0;
}

.row--inline:after {
  display: none;
}

.row--inline {
  font-size: 0;
}

.row-inline .col {
  float: none;
  display: inline-block;
  vertical-align: top;
}

.col .singale {
  margin: 0 auto;
  float: none;
}

.text-center {
  text-align: center;
}

.logo{
  position: absolute;
}

.image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  
  height: auto;
  width: 100%;
}

.main-header {
 /* margin-bottom: 55px;*/

  background-color: #fff;
}

.main-navigation ul {
  margin: 0;
  padding: 0;

  font-size: 0;
  list-style: none;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  text-align: center;

  width: 20%;

  font-size: 14px;
  line-height: 26px;
}

.main-navigation-title {
  display: block;
  padding: 15px; 

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

.logo{
  padding: 0;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -69px;
}

.main-navigation .main-navigation-title:hover {
  color: #a8c9df;
}

.active .main-navigation-title:hover {
  background: none;
}

.main-navigation .main-navigation-title:active {
  color: #dadada;
}

.title-banner {
  background: #dceaf3 url("../img/background-mod.jpg") center no-repeat;
  background-size: 100% 100%;

  height: 512px;

  overflow: hidden;

  margin-bottom: 55px;
}

.catalog-banner {
  background: #5783a9 url("../img/background-catalog.jpg") center no-repeat;
  background-size: 100% 100%;

  height: 273px;

  /*margin-bottom: 55px;*/
  text-align: center;
}

.welcom-title {
  padding: 75px 0  52px 0;
}

.main-title {
  padding-bottom: 60px;
}

.section-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;

  margin: 0;
}

.p-align {
  margin: 35px 0 56px 0;
  padding: 0;
}

.box  { 
  float: left;
  box-sizing: border-box; 

  width: 66.66%;

  height: 256px;
  position: relative;
  overflow: hidden;
}

.title-align {
  margin: 48px 0 15px 0;
}

.block-bl {
  text-align: center;
  color: #fff;

  height: 256px;;

  background-color: #81b3d2;
}

.block-bl p {
  margin: 0 20% 25px 20%;
}

.block-bl p:last-child {
  margin: 0 20% 0 20%;
}

.suggestions-item {
  float: left;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  width: 33.33%;
  min-height: 330px;
}

.suggestions-1 .suggestions-pic {
  display: inline-block;
  vertical-align: middle;
  width: 75px; 
  height: 75px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -5px -75px;
  margin-top: 60px;
}

.suggestions-2 .suggestions-pic {
  display: inline-block;
  vertical-align: middle;
  width: 74px; 
  height: 74px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -5px -150px;
  margin-top: 60px;
}

.suggestions-3 .suggestions-pic {
  display: inline-block;
  vertical-align: middle;
  width: 64px; 
  height: 76px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -5px -228px;
  margin-top: 57px;
}

/*.suggestions-item_title::before{
  content: "";

  position: absolute;
  top: 0;
  left: 41%;
  width: 50%;

  display: block;

  padding-top: 75px;
  margin: 60px 0 28px 0;
  background: url("../img/sprite.png") no-repeat;
}*/

/*.suggestions-1 .suggestions-item_title::before {
  background-position: -5px -74px;
}

.suggestions-2 .suggestions-item_title::before {
  background-position: -5px -150px;
}

.suggestions-3 .suggestions-item_title::before {
  background-position: -5px -228px;
}
*/
.suggestions-item_title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 30px 0 25px 0;
}

.suggestions-item p {
  font-size: 14px;
  line-height: 21px;
  padding: 0 20% 0 20%;
  margin: 0;
}

.features {
  background-color: #eeeeee;
  color: #000;

  width: 100%;
  min-height: 256px;
}

.features-item {
  float: left;
  box-sizing: border-box;
  text-align: center;

  width: 33.33%;
  /**/

  min-height: 256px;
}

.features-addon {
  color: #fff;
  text-align: center;
  background-color: #81b3d2;
}

/*.features-item_title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0 0 15px 0;
}*/

.features-item p {
  margin: 0 20% 25px 20%;
}

.features-item p:last-child {
  margin: 0 20% 0 20%;
}

.data-map {
  text-align: center;
}

.map-title {
  font-size: 30px;
  line-height: 32px;
  margin: 57px 0 38px 0;
}

.data-map p {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 50px 0;
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 28px 140px;

  font-size: 21px;
  font-family: "PT Sans", Verdana, Arial, sans-serif;
  font-weight: 700;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  color: #fff;
  background: #766357;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #604e43; 
}

.btn:active{
  background-color: #503e33;
  color: #928a85;
}

.main-footer {
  padding: 23px 0;

  background-color: #f9fbf6;
}

.footer-html {
  font-size: 14px;
  line-height: 26px;
  text-align: right;
}

.visit-sedona {
  font-size: 21px;
  font-family: "PT Sans", Verdana, Arial, sans-serif;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #000;

  border: none;
  outline: none;
  cursor: pointer;

  padding-top: 10px; 
}

.footer-visit a {
    text-decoration: none;
}

.footer-html {
  margin-top: 15px;
}

.visit-html {
  margin-right: 10px;
}

.footer-html img {
  vertical-align: middle;
}

.footer-social  {
  text-align: center;
}

.footer-social .social-item {
  margin: 0 2px;
  display: inline-block;
  vertical-align: middle;
  line-height: 47px;
  width: 47px;
  height: 47px;

  font-size: 0;
  color: #fff;
  text-decoration: none;

  margin-top: 10px;

  background: #81b3d2;
}

.social-item i {
  font-size: 19px;
  display: inline-block;
  vertical-align: middle;
}

.footer-social .social-item:hover {
  background-color: #669ec0;
}

.footer-social .social-item:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.container {
  padding: 0 30px;
}

.top-query {
  color: #fff;
  text-align: left;
}

.top-query input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + .checkbox-i{
  display: inline-block;
  vertical-align: top;
  line-height: 21px;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

input[type="checkbox"] + .checkbox-i::before{
  content: "\2610";
  font-family: "symbols-sedona";
  display: inline-block;
  vertical-align: top;
  font-size: 21px;
  margin-right: 10px;
  opacity: 1;
}

input[type="checkbox"]:checked + .checkbox-i::before{
  content: "\2611";
  margin-right: 7px;
}

/*.housing input[type="checkbox"] {
  display: none;
}*/

input[type="checkbox"] + .checkbox-h{
  display: inline-block;
  vertical-align: top;
  line-height: 21px;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

input[type="checkbox"] + .checkbox-h::before{
  content: "\2610";
  font-family: "symbols-sedona";
  display: inline-block;
  vertical-align: top;
  font-size: 21px;
  margin-right: 10px;
  opacity: 1;
}

input[type="checkbox"]:checked + .checkbox-h::before{
  content: "\2611";
  margin-right: 7px;
}

.btn-catalog {
  display: inline-block;
  color: #fff;
  padding: 7px 33px;
  border: 3px solid #fff;
  text-decoration: none;
  outline: none;
  /*margin: 0 0;*/
  line-height: 21px;
  font-weight: normal;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 3px;
  background: none;
  margin: 7px 0 0 37px;
  float: left;
}

.top-query h2 {
  font-size: 16px;
  line-height: 21px;

  margin: 30px 0 27px 0;
}

.top-query h2 {
  font-size: 16px;
  line-height: 21px;
  
  margin: 30px 0 27px 0;
}

.top-query label {
  font-size: 14px;
  line-height: 21px;
  
  margin-bottom: 25px;
}

.infrastructure h2 {
  padding-left: 18%;
/*  padding: 0 15px;
  text-align: center;*/
}

.infrastructure label {
  margin-left: 18%;
}

.slider {
  display: block;
  float: left;

  width: 100%;
}

.filters-answer {
/*  display: inline-block;
  vertical-align: top;*/
}

.sort {
  font-size: 0;
}

.sort .title {
  display: inline-block;
  vertical-align: top;

  font-size: 21px;
  line-height: 26px;
  margin: 32px 0 32px 6%;

}

.filters-answer {
  font-size: 21px;
  line-height: 26px;
  margin: 32px 0 32px 6%;
}

.sort .title {
  /*display: block;*/
   white-space:nowrap;
  font-size: 12px;
  line-height: 18px;
  margin: 38px 20px 0 0;
}

.font-sort {
/*  display: inline-block;
  vertical-align: top;*/

  font-size: 12px;
  line-height: 18px;
  margin: 38px 0 0 45px;

  text-decoration: none;
  border-bottom:1px dotted #dadada;
  color: #dadada;
}

.sort .active {
 /* margin: 38px 0 0 0;*/
  text-decoration: none;
  border-bottom: none;
  color: #a8c9df;
  cursor: default;
}

.sort-order a {
  float: right;
}

.response-icon {
  color: #cccccc;
}

.response-icon {
  font-size: 12px;
  /*float: right;*/
  margin: 38px 0 0 3px;
}

.icon-down-dir {
  color: #81b3d2;
}

.border {
  /*background: url("../img/line.png") repeat-x center;*/
  width: 100%;
  padding: 0;
  margin: 0;
}

.img-item {

/*  margin: 30px 0 30px 23%;*/
}

.response-item {
  border-top: 1px solid #e5e5e5;
}

.response-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.response-item .col:first-child {
  text-align: right;
  vertical-align: center;
}

.img-item {
  margin: 30px 0;
}

.more {
  padding: 5px 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  background-color: #81b3d2;
  margin: 0 0 0 5px;
  float: left;
}

.reserve {
  padding: 5px 15px;
  font-size: 14px;
  line-height: 21px;
  background-color: #766357;
  margin: 0 0 0 5px;
  float: left;
}

.response-item {
  text-align: left;
}

.article-title {
  margin: 30px 0 9px 0;
}

.align-resp {
  margin-left: 39px;
}

.p-resp {
  margin: 0 0 10px 0;
}

.sp-align {
  margin-left: 37px;
}

.star-item {
  margin: 30px 0 38px 0;
  text-align: right;
}

.star-item .icon-star {
  color: #81b3d2;
}

.response-item .s12-3 {
  text-align: right;
}

.bezel {
  display: inline-block;
  background-color: #f2f2f2;
  padding: 7px 14px;
}

.response {
  margin: 0;
  padding: 0;
}

.visit-sedona:hover, .article-title:hover {
  color: #81b3d2;
  cursor: pointer;
}

.visit-sedona:active, .article-title:active {
  color: #cecece;
  cursor: pointer;
}

.i-visit-html:hover {

}

.modal-content {
  position: absolute;
  top: 2168px;
  left: 28.8%;
  /*display: none;*/

  width: 460px;
  left: 0;
  right: 0;
  margin: auto;
  /*margin-bottom: 100px;*/
/*  margin-right: -50%;*/
  padding: 55px 55px;

  font-size: 0;
  background-color: #fff;
}

.modal-content .string {
  display: inline-block;
  margin: 0;
  margin-bottom: 30px;
  vertical-align: top;
}

.modal-content .context-font {
  font-size: 14px;
  line-height: 26px;
  color: black;
  font-weight: 700;
}

.from-date span {
  margin-right: 19px;
}

.to-date span {
  margin-right: 15px;
}

.count span:first-child {
  margin-right: 37px;
}

.count span:last-child {
  margin-right: 3px;
}

.modal-content input[type=date]{
  width: 305px;
  margin-bottom: 28px;

  font-family: "PT Sans", Verdana, Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  background-color: #f2f2f2;
  text-transform: uppercase;
  border: none;
  outline: none;
  padding-right: 40px;
}

.login-form input.icon-user {
  content: "icon-calendar";

  font-size: 12px;
  color: #a9a9a9;
}

.modal-content input[type=number]{
  width: 115px;
  margin-right: 48px;

  font-family: "PT Sans", Verdana, Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  background-color: #f2f2f2;
  text-transform: uppercase;
  border: none;
  outline: none;

}

.modal-content input[type=number]:last-child{
   margin-right: 0;
}

.btn-form {
  padding: 20px 33px;
  line-height: 26px;
  font-weight: 700;
  font-size: 21px;
  background: #81b3d2;
  margin: 54px 0 0 0;
  width: 100%;
  box-sizing: border-box;
}

.btn-form:hover {
  background-color: #669ec0;
}

.btn-form:active {
  color: #7dacca;
  background-color: #5496bd;
}

.range-filter{
    width:240px;
    margin:20px auto;
}
.range-controls{
    position:relative;
    height:80px;
    margin-bottom:15px;
    padding:0 30px;
    background:none;
    border-radius:5px;
    overflow:hidden;
}
.range-controls .scale{
    margin-top:39px;
    height:2px;
    background:#747375;
}
.range-controls .bar{
    height:2px;
    background:#fff;
}
.range-controls .toggle{
    position:absolute;
    top:30px;
    left:30px;
    width:4px;
    height:4px;
    border:8px solid white;
    background: #ababab;
    cursor:pointer;
    border-radius:50%;
    box-shadow:0 2px 1px 0 #cfcfcf;
}
.range-controls .max-toggle{
    left:145px;
}
.price-controls input{
    width: 60px;
   /* padding: 8px 10px 8px 0;*/

    margin: 5px 0 5px 0;
    border: none;
    background: none;
    font-family: "PT Sans", Verdana, Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-align: left;
    color: #283136;
    border-radius: 5px;
    color: #fff;
}

.price-controls .min-price{
    margin-right:14px;
}
.price-controls{
    white-space:nowrap;
}

.price-border {
  border: 3px solid #fff;
  border-radius: 3px;
  position: relative;
  width: 179px;
  height: 30px;
 /* padding: 5px 10px;*/
}

.separator {
  border-left: 3px solid #fff;
  height: 22px;
  position: absolute;
  top: 4px;
  left: 50%;
  margin: 0 auto;
}

.text-right {
  text-align: right;
}
